.main-create {
    margin-top: 10px;
}

.main-create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: black;
}

.main-create-container-left {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-create-container-right {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.create-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

.create-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}