.main-enjoy {
    margin-top: 10px;
}

.main-enjoy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: black;
}

.main-enjoy-container-left {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

.main-enjoy-container-right {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enjoyVideo {
    position: absolute;
    height: 11rem;
    width: 18rem;
    right: 11.5rem;
}