.main-watch {
    margin-top: 10px;
}

.main-watch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: black;
}

.main-watch-container-left {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.watch-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

.watch-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

.main-watch-container-right {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchVideo {
    position: absolute;
    height: 10rem;
    width: 16rem;
    right: 13rem;
    margin-bottom: 6rem;
}